$white-1: #fff;
$black-1: #000;
$black-2: #1b3b3a;
$black-3: #3b3b3a;
$blue-1: #107AE6;

$grey-1: #f3f3f3;
$grey-2: #e2e2e2;

$body-bg: $white-1;
$body-txt: $black-1;

$color-e-header-bg: $grey-1;
$color-e-header-sub-bg: transparent;
$color-e-header-item-sub-bg: $white-1;
$color-e-header-item-sub-border: $grey-2;

$color-the-header-bg: $blue-1;
$color-the-header-txt: $black-1;

$color-txt-link-bottom: $black-3;

$color-the-header-main-bg: $black-3;
$color-the-header-main-txt: $white-1;
$color-the-header-main-bg-sub: $white-1;
$color-the-header-main-sub-txt: gray;