$open-sans-italic: 'Open Sans Italic, sans-serif';
$open-sans-regular: 'Open Sans Regular, sans-serif';
$open-sans-bold: 'Open Sans Bold, sans-serif';
$name-font: 'Open-Sans';
$base: $open-sans-regular;

$size-default: 18px;
$default-rem: 10px;
