$open-sans-italic: 'Open Sans Italic, sans-serif';
$open-helveticaNeue-regular: "HelveticaNeue-Light","sans-serif";
$open-sans-bold: 'Open Sans Bold, sans-serif';
$name-font: 'Open-Sans';
$base: $open-helveticaNeue-regular;

$size-default: 14px;
$default-rem: 10px;
